* {
  margin: 0px;
  padding: 0px;
  background-color: rgb(20, 20, 33);
  font-style: arial;
  flex-shrink: 0;
}
body {
  overflow-x: hidden;
}
.header {
  width: 100vw;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1.5px solid rgb(26, 159, 141);
  position: fixed;
  z-index: 400;
}
.title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 20vmin;
  gap: 2vmin;
}
.detail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  margin-right: 20vmin;
  color: white;
}
.title i {
  background-color: #068e43;
  font-size: 2.5rem;
  border-radius: 0.5rem;
}
.title h1 {
  color: white;
  font-size: 2rem;
}
.score {
  display: flex;
  align-items: center;
  justify-content: center;
}
.score i,
p {
  font-size: 1rem;
}
.user {
  display: flex;
  align-items: center;
  justify-content: center;
}
.user input {
  outline: none;
  border: none;
  font-size: 1rem;
  color: white;
}
.user i {
  font-size: 1.2rem;
}
.panel1 {
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 20px;
}
.game-control {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  width: 30vmin;
  height: 30vmin;
  margin-top: 12vmin;
  border-radius: 1rem;
  border: 1.5px solid rgb(26, 159, 141);
}
.game-control h2 {
  color: white;
  font-size: 1.2rem;
}
.game-control button {
  width: 25vmin;
  height: 6vmin;
  outline: none;
  border: 1.5px solid rgb(26, 159, 141);
  border-radius: 0.5rem;
  background-color: rgb(24, 176, 115);
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.difficulty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5vmin;
  width: 30vmin;
  height: 52vh;
  margin-top: 5vmin;
  border-radius: 1rem;
  border: 1.5px solid rgb(26, 159, 141);
}
.btn {
  width: 25vmin;
  height: 10vmin;
  outline: none;
  border: 1.5px solid rgb(26, 159, 141);
  border-radius: 1rem;
  color: white;
  font-size: 1.2rem;
  cursor: pointer;
}
.btn p {
  color: #1eb182;
}
.btn h2 {
  color: white;
  font-size: 1.2rem;
}
.btn {
  font-size: 0.85rem;
}
.difficulty h2 {
  color: white;
  font-size: 1.2rem;
}
.game-tips {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 30vmin;
  height: 25vmin;
  margin-top: 5vmin;
  border-radius: 1rem;
  border: 1.5px solid rgb(26, 159, 141);
  flex-wrap: wrap;
  justify-content: center;
}
.game-tips ul {
  padding-left: 20px;
  color: #1eb182;
}
.game-tips h2 {
  color: white;
  padding-left: 10px;
  z-index: 200;
}
.game {
  margin-left: 28vmin;
  margin-right: 30vmin;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.container {
  margin-top: 12vmin;
  height: 85vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1.5px solid rgb(26, 159, 141);
  border-radius: 1rem;
}
.game-board {
  width: 75vmin;
  height: 65vmin;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}
.column {
  width: 16vmin;
  height: 16vmin;
  background-color: #a09d9d;
  border: none;
  border-radius: 4rem;
  font-size: 3rem;
  cursor: pointer;
}
.lev {
  display: flex;
  flex-direction: row;
  margin-left: 5vmin;
}
.container h2 {
  color: white;
  margin-left: 4vmin;
}
.container p {
  padding-top: 1vmin;
  color: white;
  text-align: center;
  font-size: 1.5rem;
}
.container h2 {
  padding-top: 10px;
  font-size: 2rem;
}
.lev p {
  color: white;
  font-size: 1rem;
}
.level {
  font-size: 0.5rem;
}
.box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 30vmin;
  height: 20vmin;
  border-radius: 1rem;
  border: 1.5px solid rgb(26, 159, 141);
  color: white;
  font-size: 1rem;
}
.panel2{
  display: flex;
  flex-direction: column;
  height: 85vh;
  padding-top: 12vmin;
  gap: 3vmin;
}
.current-value{
  color: white;
  font-size: 3rem;
}
.high-value{
  color: white;
  font-size: 3rem;
}
.alin{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
}
.time{
  color:white;
  font-size: 2rem;
  margin-top: 10px;
}
.loader-container {
  width: 80%;
  height: 10px;
  border: 2px solid #3498db;
  border-radius: 10px;
  overflow: hidden;
  background: #ddd;
}

.loader {
  width: 100%;
  height: 100%;
  background: #278f5d;
}
@keyframes reverseLoader {
  from { width: 100%; }
  to   { width: 0%; }
}
